/* 
    Created on : 19-Feb-2018, 10:01:20
    Author     : Thomas
*/

html{
    background-color: #C0B283;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: #F4F4F4;
    font-family: Replica, sans-serif;
}

body {
    margin: 0px;
}

/* --------------------------------------- Header ------------------------------------------------- */

header {
    min-height: 100vh;
    max-width: 15%;
    border-right: 1px solid black;
    background-color: #373737;
}

nav ul {
    padding: 0px;
}

nav li {
    list-style: none;
    text-align: center;
    margin: 0px 8%;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.hover:hover {
    background: #c52127;
}

nav li a {
    padding: 8px;
    display: block;
    color: white;
    text-decoration: none;
}

.logo {
    max-width: 118px;
}

.logout {
    width: 50px;
    height: 50px;
    font-size: larger;
    background: #C0B283;
}

/* --------------------------------------------------- main -------------------------------------------------- */

main {
    margin: 0px auto;
    min-width: 40%;
    max-width: 60%;
}

.matchError, .numberError {
    display: none;
}

.errors {
    max-width: 100%;
    margin: 2px 0px;
}

.error {
    border: 3px solid darkred;
    border-radius: 8px;
    background-color: red;
    padding: 2px;
    color: white;
}

.flexbox {
    display: flex;
}

.users {
    width: 60%;
    padding-right: 10px;
}

.profile {
    width: 40%;
}

/* -------------------------------------------------- Form --------------------------------------------------- */

form p {
    margin: 4px 0px;
}

input {
    margin-bottom: 5px;
    width: 80%
}

input[type="checkbox"]{
    width: auto;
    margin-left: 6px;
}

input[type="submit"]{
    color: #F4F4F4;
    background-color: #373737;
    max-width: 100px;
    white-space: normal;
    padding: 1px;
    border-style: outset;
}

input[type="submit"]:hover:enabled {
    border-style: inset;
}

input[type="submit"]:disabled {
    background: gray;
    color: darkgray;
}

/* -------------------------------------------------- Table --------------------------------------------------- */

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

table {
    margin-bottom: 30px;
}

th {
    font-weight: bold;
    text-align: center;
    background: #373737;
    color: #F4F4F4;
}

.icons {
    text-align: center;
}

.icons a {
    color: blue;
}

.icons a:hover {
    color: black;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}